body {
  background-image: url("https://media.istockphoto.com/photos/pastel-colored-romantic-sky-panoramic-picture-id1285656386?b=1&k=20&m=1285656386&s=170667a&w=0&h=m9dYv3EuWAvvhscOL8dVdxcLWwo2JfFZRWgsDKq0ILA=");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.why-we-need-donation {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 800px;
  text-align: center;
  position: relative;
  margin-top: 200px;
  padding: 15px 15px 15px 15px;
  margin-left: 350px;
}
#head {
  padding-top: 5px;
  font-size: 30px;
  text-align: center;
}
#content {
  font-size: 25px;
  text-align: center;
}
form {
  padding-top: 20px;
  text-align: center;
}
